.BookingCard {
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  padding: 30px 20px;

  &--bold {
    font-weight: bold;
  }

  &__CheckInOut {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Datepicker {
    width: 100%;
    margin-right: 5px;

    &__Input {
      min-width: unset;
      width: 100%;
    }
  }

  .Button {
    margin-right: 5px;
    width: 100%;
  }
}