.AddRoom {
  display: flex;
  align-items: center;
  
  &__Dropdown {
    width: 200px;
  }

  &__Button {
    margin: 0 20px;
  }

  .ant-select-selection {
    background-color: transparent;
    border-color: #4786E3;
    color: #4786E3;
  }
}