.AccommodationForm {
    display: grid;
    grid-template-rows: auto 0.8fr auto; 
    grid-template-columns: 0.2fr 0.8fr 0.2fr;
    grid-template-areas:
      "header header header"
      "left main right"
      "bottom bottom bottom";
    height: 100%;
    background-color: #E5E5E5;
    
    &__Footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    &__Completed {
      display: flex;
      grid-area: main;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
}